* {
    margin: 0;
    padding: 0;
}

body {
    background: url(foto-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}
.container h2 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.text-box input {
    padding-top: 2px;
    background-color: rgba(249, 249, 249, 0.382);
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
}
.text-box ::placeholder {
    padding-left: 10px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.conteudo {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    height: 250px;
    max-width: 300px;
}
